:host{
    color: rgb(50, 50, 50);
}

.login-card {
    margin: 20px auto;
    max-width: 500px;
  }

mat-card-actions button {
    margin-left: 10px;
}

mat-form-field{
    margin: 10px;
}
.full-widith{
    width: 100%;
}