
       
<form [formGroup]="form" (ngSubmit)="formSubmit(form)"> 
    <mat-card class="login-card">
                <mat-card-header>
                    <mat-card-title>login</mat-card-title>
                </mat-card-header>
        <mat-card-content>

            <!-- username -->
            <mat-form-field class="full-widith">
                <mat-label>Nombre de usuario</mat-label>
                <input matInput type="text" placeholder="Escribe tu nombre de usuario" formControlName="username">
                <mat-hint>8 a 20 caracteres </mat-hint>
            </mat-form-field>

            <!-- password -->
            <mat-form-field class="full-widith">
                <mat-label>contraseña</mat-label>
                <input matInput type="password" placeholder="Escribe tu contraseña" formControlName="password">
                <mat-hint>8 a 32 caracteres </mat-hint>
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button type="reset" (click)="formCancel()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Reservar</button>
        </mat-card-actions>
    </mat-card>
</form>