<form [formGroup]="form" (ngSubmit="formSubmit(form)")> 
   <mat-card class="reservation-card">
        <mat-card-header>
        <mat-card-title>Crear una reservacion</mat-card-title>
        </mat-card-header>
        <mat-card-content>
        <p>
            Nuestra forma va a aqui
        </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-button type="reset" (click)="formCancel()">Cancelar</button>
            <button mat-raised-button color="primary" type="submit">Reservar</button>
        </mat-card-actions>
    </mat-card>
</form>  